swagger: '2.0'
info:
  description: Documentation des requêtes de l'API SDIS67
  version: 1.0.0
  title: API SDIS67
  termsOfService: 'http://swagger.io/terms/'
host: api.sdis67.fr
basePath: /v1
schemes:
  - https
paths:
  /login:
    post:
      tags: 
      - Login
      description: Permet de se connecter 
      parameters:
        - name: username
          in: header
          type: string
        - name: password
          in: header
          type: string
      responses:
        '200':
          description: OK
  /signalement:
    post:
      tags:
        - Signalements
      summary: Permet de créer un nouveau signalement
      description: Cette requête permet de créer un nouveau signalement en utilisant les informations passées en paramètres
      operationId: postSignalement
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: 'object'
          in: body
          schema:
            type: object 
            properties:
              type: 
                type : string
                description: Type du signalement
              emergency:
                description: Urgence du signalement
                type: string
              carteCenter: 
                type: object 
                items: 
                  $ref: '#/definitions/Point'
                description: 'Centre de la carte, point sélectionné'
              specificField:
                type: string 
                description: 'Comprend toute la liste des champs complémentaires permettant d''effectuer le signalement'
              cause:
                type: string 
                description: 'Cause plus précise que le type'
              townName:
                type: string
              insee:
                type: string
              territorialUnity:
                type: string
              company:
                type: string 
              category: 
                type: string
              attachments:
                type: array
                items:
                  type: object 
                  properties:
                    value:
                      type: string 
                      description: 'Fichier contenant les infos'
              tags:
                description: Tags du signalement
                type: array
                items:
                  type: string
              
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Signalement'
    get:
      tags:
        - Signalements
      summary: Permet de récupérer l'ensemble des informations des signalements
      description: Cette requête renvoie des objets JSON sérialisés de classe Signalement. Il est possible de filtrer la recherche de signalement en passant des filtres en corps.
      operationId: getSignalement
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: authorId
          in: query
          description: Permet de filtrer par créateur en donnant un Id d'Utilisateur
          type: number
        - name: assignedGroupId
          in: query
          description: Permet de filtrer par groupe assigné en donnant un Id de Groupe
          type: number
        - name: assignedManagerId
          in: query
          description: Permet de filtrer par Gestionnaire assigné en donnant un Id de Gestionnaire
          type: number
        - name: open
          in: query
          description: 'L''état du ticket (ouvert:true ou fermé:false)'
          type: boolean
        - name: type
          in: query
          description: Type du signalement
          type: string
        - name: status
          in: query
          description: Etat du signalement
          type: string
        - name: emergency
          in: query
          description: Urgence du signalement
          type: string
        - name: keyword
          in: query
          description: Permet de filtrer en utilisant un mot clé standard
          type: string
        - name: date
          in: query
          description: Permet de filtrer en utilisant une date format (jj/mm/AAAA)
          type: string
        - name: tags
          in: query
          description: Tags du signalement
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Signalement'
  /note:  
    put:
      tags:
      - Note
      summary: Permet de modifier la note attribuer un signalement
      description: Cette requête permet de modifier/ajouter une note a un signalement
      parameters:
        - in: body
          name: NoteModification
          schema:
            $ref: '#/definitions/NoteModification'
      responses:
        '200':
          description: OK
  /status:
    put:
      tags:
        - Status
      summary: Permet la modification du status si les droits de l'utilisateur (identifié grâce au token) le permettent
      description: 'Permet la modification du status si les droits de l''utilisateur (identifié grâce au token) le permettent, enregistre les modifications dans l''historique et renvoie des notifications aux utilisateurs concernés'
      parameters:
        - in: body
          name: StatusModification
          schema:
            $ref: '#/definitions/StatusModification'
      responses:
        '200':
          description: OK
  /echeance:
    put:
      tags:
      - Echéance
      summary: Permet de modifier la note du signalement si les droits de l'utilisateur (identifié grâce au token) le permettent
      description: Cette requête permet de modifier/ajouter une note a un signalement
      parameters:
        - in: body
          name: EcheanceModification
          schema:
            $ref: '#/definitions/DeadlineModification'
      responses:
        '200':
          description: OK
  /urgence:
    put:
      tags:
      - Urgence
      summary: 'permet de modifier l''urgence d''un signalement si les droits de l''utilisateur (idzntifié grâce au token) le permettent'
      description: Cette requête permet de changer l'état d'urgence d'un signalement
      parameters:
        - in: body
          name: UrgenceModification
          schema:
            $ref: '#/definitions/UrgencyModification'
      responses:
        '200':
          description: OK
  /numbersNotifications:
    get:
    
      tags: 
        - Notifications
      summary: 'Retourne le nombre de notifications pour un user'
      responses:
        '200':
          description: OK
          schema:
            type: 'integer'
  /notifications:
    get:
      tags: 
        - Notifications
      summary: 'Retourne la liste des notifications et les marque comme vu'
      responses:
        '200':
          description: OK
          schema: 
            type: 'array'
            items:
              $ref: '#/definitions/Notifications'
definitions:
  Notifications:
    type: object 
    properties:
      text: 
        type: 'string'
      vu: 
        type: 'boolean'
      date: 
        type: 'string'
        format: 'date-time'
  Signalement:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: correspond également au numéro de ticket
      title:
        type: string
      status:
        type: string
        description: Valeurs dans l'annexe 1
      creationDate:
        type: string
        format: date-time
      updateDate:
        type: string
        format: date-time
      deadline:
        type: string
        format: date-time
      category:
        type: string
        description: Valeurs dans l'annexe 2
      description:
        type: string
      urgency:
        type: string
      source:
        type: string
      note:
        type: integer
        format: int64
      group:
        type: object
        properties:
          name:
            type: string
          id:
            type: integer
            format: int64
      manager:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
          firstname:
            type: string
          averageNote:
            type: integer
            format: int64
      tags:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: integer
            format: int64
      author:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
          firstname:
            type: string
          averageNote:
            type: integer
            format: int64
      attachment:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            blob:
              type: string
      localisation:
        type: string
        description: geojson du point
      history:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            modificationType:
              type: string
            date:
              type: string
              format: date-time
            author:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                name:
                  type: string
                firstname:
                  type: string
            description:
              type: string
            comment:
              type: string
  NoteModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      note:
        type: integer
        format: int64
  StatusModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      status:
        type: string
        format: int64
      note:
        type: integer
        format: int64
      comment:
        type: string
        format: date-time
  UrgencyModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      urgency:
        type: string
  DeadlineModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      deadLine:
        type: string
        format: date-time
  Geometry:
    type: object
    description: GeoJSon geometry
    discriminator: type
    required:
      - type
    externalDocs:
      url: http://geojson.org/geojson-spec.html#geometry-objects
    properties:
      type:
        type: string
        enum:
        - Point
        - LineString
        - Polygon
        - MultiPoint
        - MultiLineString
        - MultiPolygon
        description: the geometry type
    
  Point2D:
    type: array
    maxItems: 2
    minItems: 2
    items:
      type: number
  Point:
    type: object
    description: GeoJSon geometry
    externalDocs:
      url: http://geojson.org/geojson-spec.html#id2
    allOf:
      - $ref: "#/definitions/Geometry"
      - properties:
          coordinates:
            $ref: '#/definitions/Point2D'

externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
