swagger: '2.0'
info:
  description: Documentation des requêtes de l'API SDIS67
  version: 1.0.0
  title: API SDIS67
  termsOfService: 'http://swagger.io/terms/'
host: api.sdis67.fr
basePath: /v1
schemes:
  - https
paths:
  /signalement:
    post:
      tags:
        - Signalements
      summary: Permet de créer un nouveau signalement
      description: Cette requête permet de créer un nouveau signalement en utilisant les informations passées en paramètres
      operationId: postSignalement
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: authorId
          in: query
          description: ID de l'utilisateur qui a créé le ticket
          type: number
        - name: title
          in: query
          description: Titre du signalement
          type: number
        - name: type
          in: query
          description: Type du signalement
          type: string
        - name: emergency
          in: query
          description: Urgence du signalement
          type: string
        - name: tags
          in: query
          description: Tags du signalement
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Signalement'
    get:
      tags:
        - Signalements
      summary: Permet de récupérer l'ensemble des informations des signalements
      description: Cette requête renvoie des objets JSON sérialisés de classe Signalement. Il est possible de filtrer la recherche de signalement en passant des filtres en corps.
      operationId: getSignalement
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: authorId
          in: query
          description: Permet de filtrer par créateur en donnant un Id d'Utilisateur
          type: number
        - name: assignedGroupId
          in: query
          description: Permet de filtrer par groupe assigné en donnant un Id de Groupe
          type: number
        - name: assignedManagerId
          in: query
          description: Permet de filtrer par Gestionnaire assigné en donnant un Id de Gestionnaire
          type: number
        - name: open
          in: query
          description: 'L''état du ticket (ouvert:true ou fermé:false)'
          type: boolean
        - name: type
          in: query
          description: Type du signalement
          type: string
        - name: status
          in: query
          description: Etat du signalement
          type: string
        - name: emergency
          in: query
          description: Urgence du signalement
          type: string
        - name: keyword
          in: query
          description: Permet de filtrer en utilisant un mot clé standard
          type: string
        - name: date
          in: query
          description: Permet de filtrer en utilisant une date format (jj/mm/AAAA)
          type: string
        - name: tags
          in: query
          description: Tags du signalement
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Signalement'
  /note:  
    put:
      tags:
      - Note
      summary: Permet de modifier la note attribuer un signalement
      description: Cette requête permet de modifier/ajouter une note a un signalement
      parameters:
        - in: body
          name: NoteModification
          schema:
            $ref: '#/definitions/NoteModification'
      responses:
        '200':
          description: OK
  /status:
    put:
      tags:
        - Status
      summary: Permet la modification du status si les droits de l'utilisateur (identifié grâce au token) le permettent
      description: 'Permet la modification du status si les droits de l''utilisateur (identifié grâce au token) le permettent, enregistre les modifications dans l''historique et renvoie des notifications aux utilisateurs concernés'
      parameters:
        - in: body
          name: StatusModification
          schema:
            $ref: '#/definitions/StatusModification'
      responses:
        '200':
          description: OK
  /echeance:
    put:
      tags:
      - Echéance
      summary: Permet de modifier la note du signalement si les droits de l'utilisateur (identifié grâce au token) le permettent
      description: Cette requête permet de modifier/ajouter une note a un signalement
      parameters:
        - in: body
          name: EcheanceModification
          schema:
            $ref: '#/definitions/DeadlineModification'
      responses:
        '200':
          description: OK
  /urgence:
    put:
      tags:
      - Urgence
      summary: 'permet de modifier l''urgence d''un signalement si les droits de l''utilisateur (idzntifié grâce au token) le permettent'
      description: Cette requête permet de changer l'état d'urgence d'un signalement
      parameters:
        - in: body
          name: UrgenceModification
          schema:
            $ref: '#/definitions/UrgencyModification'
      responses:
        '200':
          description: OK
definitions:
  Signalement:
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: correspond également au numéro de ticket
      title:
        type: string
      status:
        type: string
        description: Valeurs dans l'annexe 1
      creationDate:
        type: string
        format: date-time
      updateDate:
        type: string
        format: date-time
      deadline:
        type: string
        format: date-time
      category:
        type: string
        description: Valeurs dans l'annexe 2
      description:
        type: string
      urgency:
        type: string
      source:
        type: string
      note:
        type: integer
        format: int64
      group:
        type: object
        properties:
          name:
            type: string
          id:
            type: integer
            format: int64
      manager:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
          firstname:
            type: string
          averageNote:
            type: integer
            format: int64
      tags:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: integer
            format: int64
      author:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
          firstname:
            type: string
          averageNote:
            type: integer
            format: int64
      attachment:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            blob:
              type: string
      localisation:
        type: string
        description: geojson du point
      history:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
            modificationType:
              type: string
            date:
              type: string
              format: date-time
            author:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                name:
                  type: string
                firstname:
                  type: string
            description:
              type: string
            comment:
              type: string
  NoteModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      note:
        type: integer
        format: int64
  StatusModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      status:
        type: string
        format: int64
      note:
        type: integer
        format: int64
      comment:
        type: string
        format: date-time
  UrgencyModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      urgency:
        type: string
  DeadlineModification:
    type: object
    properties:
      reportId:
        type: integer
        format: int64
      deadLine:
        type: string
        format: date-time
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
